html {
	margin: 0; 
	/* get rid of annoying margins and padding */
	padding: 0;
	min-height: 100vh; 
	/* always as tall and as wide as the view */
	min-width: 100vw;
	background: skyblue;
	font-family: Georgia, 'Times New Roman', Times, serif; /* all fonts have this now */
}
body{ /*center page structure*/
	display: flex; /* The body, and elements in it, can now flex and move naturally */
	flex-direction: column; /* elements in the body are "stacked" like pancakes! */
	background-color: yellow;
	margin: 0;
	padding: 0;
}
header{ /*top page structure*/
	display: flex; /* elements in it can flex and move naturally */
	flex-direction: column; /* elements are stacked like pancakes */
	background-color: skyblue;
	justify-content: space-evenly; /* elements are nicely spaced */
	align-items: center; /* elements are centered */
	height: 20vh; /* it will try to take up 20% of the view display */
	width: 100vw; /* It will always be as wide as the view display, even forcing scroll bars */
	min-height: 75px; /* It will never be smaller than 75 px */
}
header > p{
	margin: 0px;
	padding: 0px;
}
#NavBar{
	background-color: white;
	display: inline-flex; /* elements in here are organized into a single line */
}
footer{ /*bottom page structure*/
	display: flex;
  	align-items: center;
  	align-self: flex-end; /* it will always be at the END of it's parent (body) element */
  	justify-content: center;
	background-color: red;
	width: 100vw; /* It will always be as wide as the view */
	min-height: 75px; /* It will never be smaller than 75px */
	height: 10vh; /* It will try to take up 10% of the view */
}
div{ /*general page structure*/
	background-color: pink;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; /* unsure if this one works tbh, probably overwritten by space evenly*/
}
#holder{ /*center content of page*/
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 100vw;
	min-height: 68vh; /* this takes up 70% of the view port at MINIMUM (should be 100% now */
}
#main{ /*for inputting, intended to take up only as much as it needs*/
	background-color: orange;
	align-content: center;
	justify-content: space-evenly;
	min-height: 50px;
	width: 100%;
}
#display{
	display: flex;
	box-sizing: border-box;
	border: 2px solid black;
	background-color: orange;
	align-content: center;
	justify-content: space-evenly;
	min-height: 10px;
	width: 100%;
	flex-grow: 2; /* This box will always eat up any leftover room in its parent */
}
p{ /*text structure*/
	box-sizing: border-box;
	align-content: center;
	text-align: center;
}
label{
	align-content: center;
	text-align: center;
}
input{ /*can be a lot of things, check document details*/
	align-content: center;
	box-sizing: border-box;
	border: 1px solid black;
	margin: 5px;
	min-width: 50px;
	max-width: 1000px;
	min-height: 30px;
	max-height: 300px;
	height: 5vh;
	width: 30vh;
}

button{ /*various buttons*/
	display: inline-block; /* this and NO width, allows for text between tags to be centered */
	box-sizing: border-box;
	margin: 5px;
	border: 1px solid black;
	background-color: forest;
	min-width: 50px;
	max-width: 1000px;
	min-height: 30px;
	max-height: 300px;
	height: 5vh;
}